.main-container{
    min-height: 640px;
}
//  comment out for now while still in dev
#wrapper{
  // display: none;
  overflow: hidden;
}

#main-content + .page-header{
  margin-top: 70px;
  margin-bottom: 55px;
}
