.main-container{
    min-height: 640px;
}
//  comment out for now while still in dev
#wrapper{
  // display: none;
  overflow: hidden;
}

#main-content + .page-header{
  margin-top: 70px;
  margin-bottom: 55px;
}


//Fix for paragraph size, fix for Job speed dating page, Accomodation page
.node-type-page{
  .region-content {
    .content{
    p {
      font-size: 22px;
      line-height: 35px;
    }
      ul {
        list-style: none;
        li {
          font-size: 20px;
          margin-bottom: 7px;
        }
      }
  }
    padding-bottom: 30px;
  }
}

//Share this
.sharethis-wrapper{
  margin: 10px 0;

  @media screen and (min-width: @screen-sm-min) {
    white-space: nowrap;
  }
}
