// Insert your styling here.
.footer{

    overflow: hidden;
    position: relative;

    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(-90deg,  #000000 0%, #000000 40%, @gray 40%, @gray 40%, @gray 100%);
    background: -webkit-gradient(-90deg, linear, left top, right bottom, color-stop(0%,#000000), color-stop(40%,#000000), color-stop(40%,@gray), color-stop(40%,@gray), color-stop(100%,@gray));
    background: -o-linear-gradient(-90deg,  #000000 0%,#000000 40%,@gray 40%,@gray 40%,@gray 100%);
    background: -ms-linear-gradient(-90deg,  #000000 0%,#000000 40%,@gray 40%,@gray 40%,@gray 100%);
    background: linear-gradient(90deg,  #000000 0%,#000000 40%,@gray 40%,@gray 40%,@gray 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='@gray',GradientType=1 );

    .container{
        height: 380px;
        background-position: top right;
        background-color: @gray;
    }

}
