// Insert your styling here.
.footer{
    position: relative;

    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(-90deg,  #000000 0%, #000000 40%, @gray 40%, @gray 40%, @gray 100%);
    background: -webkit-gradient(-90deg, linear, left top, right bottom, color-stop(0%,#000000), color-stop(40%,#000000), color-stop(40%,@gray), color-stop(40%,@gray), color-stop(100%,@gray));
    background: -o-linear-gradient(-90deg,  #000000 0%,#000000 40%,@gray 40%,@gray 40%,@gray 100%);
    background: -ms-linear-gradient(-90deg,  #000000 0%,#000000 40%,@gray 40%,@gray 40%,@gray 100%);
    background: linear-gradient(90deg,  #000000 0%,#000000 40%,@gray 40%,@gray 40%,@gray 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='@gray',GradientType=1 );

    .container{
        height: 380px;
        background-position: top right;
        background-color: @gray;
        position: relative;
        background-size: 1360px;
        text-align: right;

        @media (max-width: @screen-xs-max){
          height: 604px;
          background-position: top center;
          width: 100%;
          text-align: center;
        }
    }

    .footer-message{
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 15px;
      padding-right: 15px;
      font-size: 14px;
      @media (min-width: @screen-sm){
        bottom: 50px;
        .footer-links{
          display: inline;
        }
      }
    }

    .footer-logo{
      width: 125px;
      padding-top: 75px;
      background-size: 60px;
      background-position: top center;
      float: right;
      margin-top: 160px;
      font-size: 16px;
      font-family: @nsw-normal;
      .title{
        font-size: 22px;
        font-family: @nsw-bookbold;
      }
    }

}
