/**
 * Fonts
 */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400|Open+Sans:400,300|Oswald:400,300&subset=latin,latin-ext);
/**
 * Colors
 */
/* line 1, ../sass/_base.scss */
* {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 5, ../sass/_base.scss */
h1, h2, h3, h4 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

/* line 9, ../sass/_base.scss */
.section {
  padding: 80px 0;
}

/* line 12, ../sass/_base.scss */
.jumbotron {
  background-color: #ee4036;
  margin-bottom: 0;
}

/* line 18, ../sass/_base.scss */
.logo i {
  background-repeat: no-repeat;
  background-image: url("../_assets/img/sprite.png");
  width: 150px;
  height: 278px;
  background-position: 0 0;
  display: block;
  margin: 0 auto;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 18, ../sass/_base.scss */
  .logo i {
    background-image: url("../_assets/img/sprite-2x.png");
    background-size: 150px 347px;
  }
}

/* line 26, ../sass/_base.scss */
.info {
  color: #ffffff;
}
/* line 29, ../sass/_base.scss */
.info * {
  line-height: 100%;
}
/* line 32, ../sass/_base.scss */
.info p {
  margin: 9px 0;
  letter-spacing: -0.5px;
  font-size: 26px;
}

/* line 41, ../sass/_base.scss */
.newsletter #mc_embed_signup h2 {
  margin-top: 0;
  font-size: 35px;
}
/* line 45, ../sass/_base.scss */
.newsletter #mc_embed_signup .mc-field-group label {
  font-size: 20px;
}
/* line 48, ../sass/_base.scss */
.newsletter #mc_embed_signup .button {
  background-color: #03782B;
  font-size: 18px;
  padding: 10px 32px;
  height: 50px;
}

/* line 56, ../sass/_base.scss */
.social {
  background-color: #A60E64;
}
/* line 59, ../sass/_base.scss */
.social h2, .social span {
  font-size: 67px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}
/* line 64, ../sass/_base.scss */
.social h2 {
  padding: 0 15px;
}
/* line 67, ../sass/_base.scss */
.social span {
  color: #A30B03;
}
/* line 70, ../sass/_base.scss */
.social i {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../_assets/img/sprite.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 70, ../sass/_base.scss */
  .social i {
    background-image: url("../_assets/img/sprite-2x.png");
    background-size: 150px 347px;
  }
}
/* line 74, ../sass/_base.scss */
.social i.twitter {
  width: 72px;
  height: 59px;
  background-position: 0px -282px;
}
/* line 77, ../sass/_base.scss */
.social i.facebook {
  width: 37px;
  height: 65px;
  background-position: -76px -279px;
}

/**
 * Small screens.
 */
/* line 4, ../sass/_mobile.scss */
.jumbotron {
  padding-bottom: 183px;
}

/* line 8, ../sass/_mobile.scss */
.info {
  display: block;
  position: absolute;
  left: 50%;
  top: 380px;
  margin-left: -72px;
}

@media only screen and (min-width: 992px) {
  /**
   * Style only desktop screens.
   */
  /* line 5, ../sass/_desktop.scss */
  .info {
    position: absolute;
    left: 50%;
    top: 281px;
    border-left: 2px solid #ffffff;
    padding-left: 15px;
    margin-left: 90px;
  }
}
