/**
 * Fonts
 */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400|Open+Sans:400,300|Oswald:400,300&subset=latin,latin-ext);
@font-face {
  font-family: 'Dense';
  src: url("../_assets/fonts/dense/dense-regular-webfont.eot");
  src: url("../_assets/fonts/dense/dense-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../_assets/fonts/dense/dense-regular-webfont.woff2") format("woff2"), url("../_assets/fonts/dense/dense-regular-webfont.woff") format("woff"), url("../_assets/fonts/dense/dense-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/**
 * Colors
 */
/* line 1, ../sass/_base.scss */
* {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 5, ../sass/_base.scss */
h1, h2, h3, h4 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

/* line 9, ../sass/_base.scss */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* line 13, ../sass/_base.scss */
.section-title, .newsletter #mc_embed_signup h2 {
  font-size: 35px;
  margin-bottom: 25px;
  margin-top: 20px;
}

/* line 18, ../sass/_base.scss */
.jumbotron {
  background-image: -webkit-radial-gradient(circle, #f7f9fb, #dde2e8);
  background-image: radial-gradient(circle, #f7f9fb, #dde2e8);
  background-repeat: no-repeat;
  margin-bottom: 0;
}

/* line 24, ../sass/_base.scss */
.logo i {
  background-repeat: no-repeat;
  background-image: url("../_assets/img/sprite.png");
  width: 150px;
  height: 278px;
  background-position: 0 0;
  display: block;
  margin: 0 auto;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 24, ../sass/_base.scss */
  .logo i {
    background-image: url("../_assets/img/sprite-2x.png");
    background-size: 150px 347px;
  }
}

/* line 32, ../sass/_base.scss */
.info {
  color: #ee4036;
}
/* line 35, ../sass/_base.scss */
.info * {
  line-height: 100%;
  font-family: "Dense", sans-serif;
}
/* line 39, ../sass/_base.scss */
.info p {
  margin: 0;
  letter-spacing: -0.5px;
  font-size: 42px;
}

/* line 49, ../sass/_base.scss */
.newsletter #mc_embed_signup form {
  padding: 0;
}
/* line 52, ../sass/_base.scss */
.newsletter #mc_embed_signup .mc-field-group label {
  font-size: 20px;
}
/* line 55, ../sass/_base.scss */
.newsletter #mc_embed_signup .button {
  background-color: #03782B;
  font-size: 18px;
  padding: 10px 32px;
  height: 50px;
}
/* line 61, ../sass/_base.scss */
.newsletter #mc_embed_signup h2 {
  font-size: 35px;
  font-weight: 500;
}

/* line 68, ../sass/_base.scss */
.social {
  background-color: #ee4036;
  text-align: center;
}
/* line 72, ../sass/_base.scss */
.social h2, .social span {
  font-size: 44px;
  color: white;
  font-family: "Oswald", sans-serif;
}
/* line 77, ../sass/_base.scss */
.social h2 {
  padding: 0 15px;
}
/* line 80, ../sass/_base.scss */
.social span {
  color: #A30B03;
}
/* line 83, ../sass/_base.scss */
.social i {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../_assets/img/sprite.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 83, ../sass/_base.scss */
  .social i {
    background-image: url("../_assets/img/sprite-2x.png");
    background-size: 150px 347px;
  }
}
/* line 87, ../sass/_base.scss */
.social i.twitter {
  width: 51px;
  height: 44px;
  background-position: 0px -283px;
}
/* line 90, ../sass/_base.scss */
.social i.facebook {
  width: 24px;
  height: 42px;
  background-position: -58px -283px;
}

/* line 97, ../sass/_base.scss */
.btn-ironcamp {
  -webkit-box-shadow: 0px 6px 0px #f5a09e;
  -moz-box-shadow: 0px 6px 0px #f5a09e;
  box-shadow: 0px 6px 0px #f5a09e;
  text-shadow: 0 1px 0 white;
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  background-color: #ee4036;
  color: white;
  padding: 10px 25px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 100;
}
/* line 108, ../sass/_base.scss */
.btn-ironcamp:hover {
  color: white;
  background-color: #f5a09e;
  -webkit-box-shadow: 0px 6px 0px #ee4036;
  -moz-box-shadow: 0px 6px 0px #ee4036;
  box-shadow: 0px 6px 0px #ee4036;
}

/* line 116, ../sass/_base.scss */
.flexslider {
  box-shadow: none;
  border: 0;
}
/* line 120, ../sass/_base.scss */
.flexslider p {
  line-height: 160%;
  font-size: 18px;
  padding: 0 10px;
}
/* line 126, ../sass/_base.scss */
.flexslider:before, .flexslider:after {
  width: 10px;
  height: 100%;
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  z-index: 100;
}
/* line 135, ../sass/_base.scss */
.flexslider:before {
  left: 0;
  background-image: -webkit-linear-gradient(left, white 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, white 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to right, #ffffff 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#00000000', GradientType=1);
}
/* line 139, ../sass/_base.scss */
.flexslider:after {
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, white 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, white 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FFFFFFFF', GradientType=1);
}

/* line 146, ../sass/_base.scss */
.flex-control-paging li a {
  background-color: #f5a09e;
  box-shadow: none;
  width: 16px;
  height: 16px;
}
/* line 153, ../sass/_base.scss */
.flex-control-paging li a.flex-active, .flex-control-paging li a:hover {
  background-color: #ee4036;
}

@media only screen and (max-width: 767px) {
  /**
   * Small screens.
   */
  /* line 4, ../sass/_mobile.scss */
  .jumbotron {
    padding-bottom: 183px;
  }

  /* line 8, ../sass/_mobile.scss */
  .info {
    display: block;
    position: absolute;
    left: 50%;
    top: 380px;
    margin-left: -72px;
  }
}
@media only screen and (min-width: 992px) {
  /**
   * Style only desktop screens.
   */
  /* line 5, ../sass/_desktop.scss */
  .jumbotron {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  /* line 9, ../sass/_desktop.scss */
  .info {
    position: absolute;
    left: 50%;
    top: 339px;
    border-left: 2px solid #ee4036;
    padding-left: 15px;
    margin-left: 90px;
  }
}
