/**
 * Fonts
 */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400|Open+Sans:400,300|Oswald:400,300&subset=latin,latin-ext);
@font-face {
  font-family: 'Dense';
  src: url("../_assets/fonts/dense/dense-regular-webfont.eot");
  src: url("../_assets/fonts/dense/dense-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../_assets/fonts/dense/dense-regular-webfont.woff2") format("woff2"), url("../_assets/fonts/dense/dense-regular-webfont.woff") format("woff"), url("../_assets/fonts/dense/dense-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/**
 * Colors
 */
/* line 2, ../sass/_base.scss */
* {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 6, ../sass/_base.scss */
h1, h2, h3, h4 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

/* line 10, ../sass/_base.scss */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* line 14, ../sass/_base.scss */
.section-title, .newsletter #mc_embed_signup h2 {
  font-size: 35px;
  margin-bottom: 25px;
  margin-top: 20px;
}

/* line 19, ../sass/_base.scss */
.jumbotron {
  background-image: -webkit-radial-gradient(circle, #f7f9fb, #dde2e8);
  background-image: radial-gradient(circle, #f7f9fb, #dde2e8);
  background-repeat: no-repeat;
  margin-bottom: 0;
  position: relative;
}

/* line 26, ../sass/_base.scss */
.logo i {
  background-repeat: no-repeat;
  background-image: url("../_assets/img/sprite.png");
  width: 150px;
  height: 278px;
  background-position: 0 0;
  display: block;
  margin: 0 auto;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 26, ../sass/_base.scss */
  .logo i {
    background-image: url("../_assets/img/sprite-2x.png");
    background-size: 150px 347px;
  }
}

/* line 34, ../sass/_base.scss */
.info {
  color: #ee4036;
}
/* line 37, ../sass/_base.scss */
.info * {
  line-height: 100%;
  font-family: "Dense", sans-serif;
}
/* line 41, ../sass/_base.scss */
.info p {
  margin: 0;
  letter-spacing: -0.5px;
  font-size: 42px;
}

/* line 49, ../sass/_base.scss */
.summary ul {
  padding: 0;
}
/* line 52, ../sass/_base.scss */
.summary li {
  display: block;
  width: 50%;
  padding: 0 15px 0 0;
  float: left;
}
/* line 58, ../sass/_base.scss */
.summary li p {
  padding: 0;
  margin-bottom: 30px;
  text-align: justify;
  width: 96%;
}
/* line 65, ../sass/_base.scss */
.summary p {
  line-height: 160%;
  font-size: 18px;
  padding: 0 10px;
}

/* line 75, ../sass/_base.scss */
.newsletter #mc_embed_signup form {
  padding: 0;
}
/* line 78, ../sass/_base.scss */
.newsletter #mc_embed_signup .mc-field-group label {
  font-size: 20px;
}
/* line 81, ../sass/_base.scss */
.newsletter #mc_embed_signup .button {
  background-color: #03782B;
  font-size: 18px;
  padding: 10px 32px;
  height: 50px;
}
/* line 87, ../sass/_base.scss */
.newsletter #mc_embed_signup h2 {
  font-size: 35px;
  font-weight: 500;
}

/* line 94, ../sass/_base.scss */
.social {
  background-color: #ee4036;
  text-align: center;
}
/* line 98, ../sass/_base.scss */
.social h2, .social span {
  font-size: 44px;
  color: white;
  font-family: "Oswald", sans-serif;
}
/* line 103, ../sass/_base.scss */
.social h2 {
  padding: 0 15px;
}
/* line 106, ../sass/_base.scss */
.social span {
  color: #A30B03;
}
/* line 109, ../sass/_base.scss */
.social i {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../_assets/img/sprite.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_base.scss */
  .social i {
    background-image: url("../_assets/img/sprite-2x.png");
    background-size: 150px 347px;
  }
}
/* line 113, ../sass/_base.scss */
.social i.twitter {
  width: 51px;
  height: 44px;
  background-position: 0px -283px;
}
/* line 116, ../sass/_base.scss */
.social i.facebook {
  width: 24px;
  height: 42px;
  background-position: -58px -283px;
}

/* line 123, ../sass/_base.scss */
.btn-ironcamp {
  -webkit-box-shadow: 0px 6px 0px #f5a09e;
  -moz-box-shadow: 0px 6px 0px #f5a09e;
  box-shadow: 0px 6px 0px #f5a09e;
  text-shadow: 0 1px 0 white;
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  background-color: #ee4036;
  color: white;
  padding: 10px 25px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 100;
}
/* line 134, ../sass/_base.scss */
.btn-ironcamp:hover {
  color: white;
  background-color: #f5a09e;
  -webkit-box-shadow: 0px 6px 0px #ee4036;
  -moz-box-shadow: 0px 6px 0px #ee4036;
  box-shadow: 0px 6px 0px #ee4036;
}

/*@include keyframes(bounce) {
  50% {
    @include transform(translateY(-10px));
  }
  100% {
    @include transform(translateY(0px));
  }
}*/
@-moz-keyframes bounce {
  /* line 150, ../sass/_base.scss */
  50% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  /* line 154, ../sass/_base.scss */
  100% {
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes bounce {
  /* line 160, ../sass/_base.scss */
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  /* line 164, ../sass/_base.scss */
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes bounce {
  /* line 170, ../sass/_base.scss */
  50% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  /* line 176, ../sass/_base.scss */
  100% {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/* line 183, ../sass/_base.scss */
.scroll-down {
  position: absolute;
  top: 76vh;
  left: 50%;
  margin-left: -18px;
  width: 36px;
  height: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 15"><g class="arrow"><polygon fill="#FFFFFF" points="23.9,2.8 21.1,0 12,9.2 2.8,0 0,2.8 12,14.8 "></polygon></g></svg>');
  background-size: contain;
  text-indent: 50px;
  overflow: hidden;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@media only screen and (max-width: 767px) {
  /**
   * Small screens.
   */
  /* line 4, ../sass/_mobile.scss */
  .jumbotron {
    padding-bottom: 183px;
  }

  /* line 8, ../sass/_mobile.scss */
  .info {
    display: block;
    position: absolute;
    left: 50%;
    top: 380px;
    margin-left: -72px;
  }

  /* line 16, ../sass/_mobile.scss */
  .flexslider li {
    float: none;
    width: 100%;
  }

  /* line 21, ../sass/_mobile.scss */
  .btn-ironcamp {
    white-space: normal;
  }
}
@media only screen and (min-width: 992px) {
  /**
   * Style only desktop screens.
   */
  /* line 5, ../sass/_desktop.scss */
  .jumbotron {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  /* line 9, ../sass/_desktop.scss */
  .info {
    position: absolute;
    left: 50%;
    top: 339px;
    border-left: 2px solid #ee4036;
    padding-left: 15px;
    margin-left: 90px;
  }
}
