
* {
  font-family: $base_font_roboto;
}

h1, h2, h3, h4 {
  font-family: $base_font_novecento_normal;
  text-transform: uppercase;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-title {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 25px;
  margin-top: 20px;
}
.jumbotron {
  padding: 0;
  margin-bottom: 0;
  position: relative;
  background: #D8D8D8;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }

  .when {
    width: 298px;
    height: 60px;
    background: #FFF000;
    color: $ic_darkgrey;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 30px;
    line-height: 60px;
    font-family: $base_font_novecento_demibold;
  }
}

.logo {
  i {
    @include ic-sprite-background();
    @include ic-sprite(150px, 278px, 0 0);
    display: block;
    margin: 0 auto;
  }
}

.info {
  color: $ic_red;

  * {
    line-height: 100%;
    font-family: $base_font_novecento_demibold;
  }
  p {
    margin: 0;
    letter-spacing: -0.5px;
    font-size: 42px;
  }
}

.summary {
  p {
    padding: 0;
    margin-bottom: 30px;
    text-align: justify;
    width: 96%;
    line-height: 26px;
    font-size: 16px;
  }
}

.newsletter {
  #mc_embed_signup {

    form {
      padding: 0;
    }
    .mc-field-group {
      padding-bottom: 22px;

      label {
        font-size: 16px;
      }
    }
    .button {
      background-color: $ic_pink;
      font-size: 18px;
      padding: 10px 32px;
      height: 50px;
      font-family: $base_font_novecento_demibold;
      text-transform: uppercase;
      border-radius: 0;

      &:hover,
      &:active {
        color: $ic_darkgrey;
      }
    }
    h2 {
      @extend .section-title;
    }
  }
}
.social {
  background-color: $ic_lightgray;
  text-align: center;

  h2, span {
    font-size: 44px;
    color: $ic_darkgrey;
    font-family: $base_font_novecento_demibold;
  }
  h2 {
    padding: 0 15px;
  }
  h3 {
    padding: 0 15px;
    font-family: $base_font_novecento_demibold;
    line-height: 1.5em;

    a {
      color: $ic_orange;
      font-family: $base_font_novecento_demibold;

      &:hover,
      &:active {
        color: lighten($ic_orange, 10%);
        text-decoration: none;
      }
    }
  }
  span {
    color: #A30B03;
  }
  i {
    display: inline-block;
    @include ic-sprite-background();

    &.twitter {
      @include ic-sprite(51px, 44px, 0px -283px);
    }
    &.facebook {
      @include ic-sprite(24px, 42px, -58px -283px);
    }
  }
}
#footer {
  background-color: #000;
  color: #ccc;
  text-align: center;
  p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em;
  }
  #acquia_logo {
    margin-bottom: 1em;
  }
}

// Button
.btn-ironcamp {
  background-color: $ic_orange;
  color: $white;
  padding: 15px 25px;
  font-family: $base_font_novecento_demibold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  min-height: 60px;
  border-radius: 0;

  &:hover,
  &:active {
    color: $ic-darkgrey;
  }
}
