
* {
  font-family: $base_font_sanspro;
}

h1, h2, h3, h4 {
  font-family: $base_font_oswald;
  text-transform: uppercase;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-title {
  font-size: 35px;
  margin-bottom: 25px;
  margin-top: 20px;
}
.jumbotron {
  @include gradient-radial;
  margin-bottom: 0;
  position: relative;
}

.logo {
  i {
    @include ic-sprite-background();
    @include ic-sprite(150px, 278px, 0 0);
    display: block;
    margin: 0 auto;
  }
}

.info {
  color: $ic_red;

  * {
    line-height: 100%;
    font-family: $base_font_dense;
  }
  p {
    margin: 0;
    letter-spacing: -0.5px;
    font-size: 42px;
  }
}

.summary {
  p {
    padding: 0;
    margin-bottom: 30px;
    text-align: justify;
    width: 96%;
    line-height: 160%;
    font-size: 18px;
  }
}

.newsletter {
  #mc_embed_signup {

    form {
      padding: 0;
    }
    .mc-field-group label {
      font-size: 20px;
    }
    .button {
      background-color: #03782B;
      font-size: 18px;
      padding: 10px 32px;
      height: 50px;
    }
    h2 {
      font-size: 35px;
      font-weight: 500;
      @extend .section-title;
    }
  }
}
.social {
  background-color: $ic_red;
  text-align: center;

  h2, span {
    font-size: 44px;
    color: $white;
    font-family: $base_font_oswald;
  }
  h2 {
    padding: 0 15px;
  }
  span {
    color: #A30B03;
  }
  i {
    display: inline-block;
    @include ic-sprite-background();

    &.twitter {
      @include ic-sprite(51px, 44px, 0px -283px);
    }
    &.facebook {
      @include ic-sprite(24px, 42px, -58px -283px);
    }
  }
}
#footer {
  background-color: #000;
  color: #ccc;
  text-align: center;
  p {
    font-size: 1em;
    line-height: 1em;
    margin: 1em 0;
  }
  #acquia_logo {
    margin-bottom: 1em;
  }
}

// Button
.btn-ironcamp {
  @include box-shadow(0px 6px 0px $ic_red_50);
  @include text-shadow(0 1px 0 #fff);
  @include transition(all ease .3s);
  background-color: $ic_red;
  color: $white;
  padding: 10px 25px;
  font-family: $base_font_oswald;
  font-size: 24px;
  font-weight: 100;

  &:hover {
    color: $white;
    background-color: $ic_red_50;
    @include box-shadow(0px 6px 0px $ic_red);
  }
}

@include keyframes(bounce) {
  50% {
    @include transform(translateY(-10px));
  }
  100% {
    @include transform(translateY(0px));
  }
}
.scroll-down {
  position: absolute;
  top: 480px;
  left: 50%;
  margin-left:-25px;
  overflow: hidden;
  @include animation(bounce 2s infinite);

  span {
    text-indent: 50px;
    display: none;
  }
  i {
    @include ic-sprite-background();
    @include ic-sprite(50px, 28px, -87px -288px);
    display: block;
  }
}