* {
  font-family: $base_font_sanspro;
}

h1, h2, h3, h4 {
  font-family: $base_font_oswald;
  text-transform: uppercase;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-title {
  font-size: 35px;
  margin-bottom: 25px;
  margin-top: 20px;
}
.jumbotron {
  @include gradient-radial;
  margin-bottom: 0;
}

.logo {
  i {
    @include ic-sprite-background();
    @include ic-sprite(150px, 278px, 0 0);
    display: block;
    margin: 0 auto;
  }
}

.info {
  color: $ic_red;

  * {
    line-height: 100%;
    font-family: $base_font_dense;
  }
  p {
    margin: 0;
    letter-spacing: -0.5px;
    font-size: 42px;
  }
}

.newsletter {
  #mc_embed_signup {

    form {
      padding: 0;
    }
    .mc-field-group label {
      font-size: 20px;
    }
    .button {
      background-color: #03782B;
      font-size: 18px;
      padding: 10px 32px;
      height: 50px;
    }
    h2 {
      font-size: 35px;
      font-weight: 500;
      @extend .section-title;
    }
  }
}
.social {
  background-color: $ic_red;
  text-align: center;

  h2, span {
    font-size: 44px;
    color: $white;
    font-family: $base_font_oswald;
  }
  h2 {
    padding: 0 15px;
  }
  span {
    color: #A30B03;
  }
  i {
    display: inline-block;
    @include ic-sprite-background();

    &.twitter {
      @include ic-sprite(51px, 44px, 0px -283px);
    }
    &.facebook {
      @include ic-sprite(24px, 42px, -58px -283px);
    }
  }
}

// Button
.btn-ironcamp {
  @include box-shadow(0px 6px 0px $ic_red_50);
  @include text-shadow(0 1px 0 #fff);
  @include transition(all ease .3s);
  background-color: $ic_red;
  color: $white;
  padding: 10px 25px;
  font-family: $base_font_oswald;
  font-size: 24px;
  font-weight: 100;

  &:hover {
    color: $white;
    background-color: $ic_red_50;
    @include box-shadow(0px 6px 0px $ic_red);
  }
}

// Override .flexslider style.
.flexslider {
  box-shadow: none;
  border: 0;
  margin: 0;

  p {
    line-height: 160%;
    font-size: 18px;
    padding: 0 10px;
  }
  &:before,
  &:after{
    width: 10px;
    height: 100%;
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    z-index: 100;
  }
  &:before {
    left: 0;
//    @include gradient-horizontal(#ffffff, rgba(0,0,0,0));
  }
  &:after {
    right: 0;
//    @include gradient-horizontal(rgba(0,0,0,0), #ffffff);
  }
  .slides li {
    display: block;
    width: 50%;
    padding: 0 15px 0 0;
    float: left;

    p {
      padding: 0;
      margin-bottom: 30px;
      text-align: justify;
      width: 96%;
    }
  }
}
.flex-control-paging li a {
  background-color: $ic_red_50;
  box-shadow: none;
  width: 16px;
  height: 16px;

  &.flex-active,
  &:hover {
    background-color: $ic_red;
  }
}