/**
 * Style only desktop screens.
 */

.jumbotron {
  padding-top:140px;
  padding-bottom:140px;
}
.info {
  position: absolute;
  left: 50%;
  top: 339px;
  border-left: 2px solid $ic_red;
  padding-left: 15px;
  margin-left: 90px;
}