/**
 * Small screens.
 */

.info {
  display: block;
  position: absolute;
  left: 50%;
  top: 380px;
  margin-left: -72px;
}
.btn-ironcamp {
  white-space: normal;
}
.scroll-down {
  display: none;
}

.social {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
}
