/**
 * Small screens.
 */

.jumbotron {
  padding-bottom: 183px;
}
.info {
  display: block;
  position: absolute;
  left: 50%;
  top: 380px;
  margin-left: -72px;
}
.btn-ironcamp {
  white-space: normal;
}
.scroll-down {
  display: none;
}
