html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    height: 100%;
}

.ironcamp-logo {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 73px;
    height: 138px;
}