.view-sponsor{
  .text-center;
  .view-content{
    margin-top: 50px;
    margin-bottom: 90px;
    > div{
      display: inline-block;
      + div{
        margin-left: 20px;
      }
    }
  }
}


.node-sponsor{
    .img-circle{
      overflow: hidden;
      background-color: @gray;
      .square(200px);
  }
}


.gold{
  .img-circle{
    .square(140px);
  }
}
