.more-link.danger span,
.svg-arrow-circled-danger { background-image: url('png/arrow-circled-danger.png'); background-repeat: no-repeat; }

.more-link.danger:hover span,
.svg-arrow-circled-hover-danger { background-image: url('png/arrow-circled-hover-danger.png'); background-repeat: no-repeat; }

.more-link.info:hover span,
.svg-arrow-circled-hover-info { background-image: url('png/arrow-circled-hover-info.png'); background-repeat: no-repeat; }

.more-link.primary:hover span,
.svg-arrow-circled-hover-primary { background-image: url('png/arrow-circled-hover-primary.png'); background-repeat: no-repeat; }

.svg-arrow-circled-hover { background-image: url('png/arrow-circled-hover.png'); background-repeat: no-repeat; }

.more-link.info span,
.svg-arrow-circled-info { background-image: url('png/arrow-circled-info.png'); background-repeat: no-repeat; }

.more-link.primary span,
.svg-arrow-circled-primary { background-image: url('png/arrow-circled-primary.png'); background-repeat: no-repeat; }

.more-link span,
.svg-arrow-circled { background-image: url('png/arrow-circled.png'); background-repeat: no-repeat; }

.svg-arrow { background-image: url('png/arrow.png'); background-repeat: no-repeat; }

.svg-big-triangle01 { background-image: url('png/big-triangle01.png'); background-repeat: no-repeat; }

.svg-big-triangle02 { background-image: url('png/big-triangle02.png'); background-repeat: no-repeat; }

.svg-big-triangle03 { background-image: url('png/big-triangle03.png'); background-repeat: no-repeat; }

.svg-big-triangle04 { background-image: url('png/big-triangle04.png'); background-repeat: no-repeat; }

.breadcrumb > .first > a:before,
.svg-breadcrumb { background-image: url('png/breadcrumb.png'); background-repeat: no-repeat; }

.region-sidebar .menu-level-2 li a:after,
.svg-caret-dangeralt { background-image: url('png/caret-dangeralt.png'); background-repeat: no-repeat; }

.region-sidebar .menu-level-2 li.active a:after,
.svg-caret-gray { background-image: url('png/caret-gray.png'); background-repeat: no-repeat; }

.svg-caret { background-image: url('png/caret.png'); background-repeat: no-repeat; }

.svg-drupal { background-image: url('png/drupal.png'); background-repeat: no-repeat; }

.svg-facebook-white { background-image: url('png/facebook-white.png'); background-repeat: no-repeat; }

.svg-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.svg-footer-background { background-image: url('png/footer-background.png'); background-repeat: no-repeat; }

.svg-iron-logo { background-image: url('png/iron-logo.png'); background-repeat: no-repeat; }

.svg-lines { background-image: url('png/lines.png'); background-repeat: no-repeat; }

.svg-login { background-image: url('png/login.png'); background-repeat: no-repeat; }

.svg-mail-white { background-image: url('png/mail-white.png'); background-repeat: no-repeat; }

.svg-mail { background-image: url('png/mail.png'); background-repeat: no-repeat; }

.svg-pin { background-image: url('png/pin.png'); background-repeat: no-repeat; }

.slick-next,
.slick-prev,
.svg-triangle-arrow { background-image: url('png/triangle-arrow.png'); background-repeat: no-repeat; }

.svg-twitter-white { background-image: url('png/twitter-white.png'); background-repeat: no-repeat; }

.svg-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.with-logo:before,
.svg-white-comet { background-image: url('png/white-comet.png'); background-repeat: no-repeat; }

