.icon-big-triangle01 { background-image: url('png/big-triangle01.png'); background-repeat: no-repeat; }

.icon-big-triangle02 { background-image: url('png/big-triangle02.png'); background-repeat: no-repeat; }

.icon-big-triangle03 { background-image: url('png/big-triangle03.png'); background-repeat: no-repeat; }

.icon-big-triangle04 { background-image: url('png/big-triangle04.png'); background-repeat: no-repeat; }

.breadcrumb > .first > a:before,
.icon-breadcrumb { background-image: url('png/breadcrumb.png'); background-repeat: no-repeat; }

.icon-caret { background-image: url('png/caret.png'); background-repeat: no-repeat; }

.icon-drupal { background-image: url('png/drupal.png'); background-repeat: no-repeat; }

.icon-facebook-white { background-image: url('png/facebook-white.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-footer-background { background-image: url('png/footer-background.png'); background-repeat: no-repeat; }

.icon-iron-logo { background-image: url('png/iron-logo.png'); background-repeat: no-repeat; }

.icon-lines { background-image: url('png/lines.png'); background-repeat: no-repeat; }

.icon-login { background-image: url('png/login.png'); background-repeat: no-repeat; }

.icon-mail-white { background-image: url('png/mail-white.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('png/mail.png'); background-repeat: no-repeat; }

.icon-twitter-white { background-image: url('png/twitter-white.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-white-comet { background-image: url('png/white-comet.png'); background-repeat: no-repeat; }

